.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #F0F0F0, #D7D7D7); 
  font-family: "Arial", sans-serif;
  color: #333; 
}

h1 {
  margin-bottom: 20px;
  color: #A50034; 
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #ffffff; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}


input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s ease-in-out;
}

input:focus {
  border-color: #A50034; 
  outline: none;
}


button {
  width: 100%;
  padding: 12px;
  background: #424242; 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #A50034; 
}


.navigate-search {
  margin-top: 20px;
}

.search-button {
  background-color: #A50034; 
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.search-button:hover {
  background-color: #750024;
}

/* Logout Button */
.logout-button {
  margin-top: 20px;
  padding: 12px;
  background-color: #D32F2F;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #A50034;
}


@media (max-width: 768px) {
  form {
      width: 90%;
      padding: 20px;
  }
}
