.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #F7F2E7, #E3D9C6);
    color: white;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    background: #5f3434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #5f3434;
  }
  .navigate-search {
    margin-top: 20px;
    text-align: center;
  }
  
  .search-button {
    background-color: rgba(116, 51, 51, 0.333);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .search-button:hover {
    background-color: #2e1c1c;
  }
  .logout-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  